<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="favicon.png" type="image/png">

    <title>Progress Terra</title>
    <!-- Reset -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Standart -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Adaptive -->
    <link rel="stylesheet" href="css/adaptive.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body>

    <div class="background-main">
        <img style="z-index: 4;" class="background-main__right" src="img/right-decoration.svg" alt="">
        <img style="z-index: 4;" class="background-main__dotes" src="img/dotes-around.svg" alt="">
        <img style="z-index: 4;" class="background-main__dotes double-dotes-mobile" src="img/dotes-around.svg" alt="">
        <img style="z-index: 4;" class="background-main__dotes-left" src="img/dotes-around.svg" alt="">
        <img style="z-index: 4;" class="background-main__logo" src="img/logo.svg" alt="">

        <header>
            <div class="container">
                <div class="header-inner">
                    <div class="header-inner-round">

                    </div>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <nav class="header-nav">
                        <ul>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Как это работает?</a></li>
                            <li><a href="#">Наши работы</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <section class="title-section">
            <div class="container">
                <div class="title-section__inner">
                    <div class="title-section__info">
                        <div>
                            <h1>
                                Мобильные приложения для бизнеса
                            </h1>
                            <div class="title-section__text">
                                Решение для тех, кто понимает, что смартфоны сегодня – это основной канал связи с
                                клиентами для многих брендов!
                                Google Play и AppStore — это площадки с миллионами пользователей по всему миру. Все
                                лидеры рынка уже там. А вы?
                            </div>
                        </div>

                        <a href="#" style="z-index: 5;" class="btn btn-white btn-title-mob">Оставить заявку</a>
                    </div>

                    <div class="title-section__decoration" style="z-index: 5;">

                        <div class="title-section__decoration-dotes">
                            <div>
                                <img src="img/dotes-decoration.svg" alt="">
                                <img src="img/dotes-decoration.svg" alt="">
                            </div>
                            <img src="img/dotes-decoration.svg" alt="">
                        </div>
                        <img class="phone-svg" src="img/phone-decoration.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <div class="mobile-text">
            <h3>
                Всего за 1 месяц вы получите мобильные приложения для общения с вашими клиентами и роста продаж!
            </h3>
        </div>
        <svg class="svg__bottom" style="position: absolute; z-index: 1;" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2880 600">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M3104.000,306.000 C3104.000,306.000 2489.262,-430.916 1068.000,385.000 C425.806,753.670 -32.000,464.000 -32.000,464.000 L-84.000,745.000 L3242.000,935.000 L3104.000,306.000 Z" />
        </svg>
    </div>


    <section class="our-answers">
        <div class="main-container">
            <div class="our-answers-inner">
                <div class="answer-cloud">
                    <div>
                        У меня же есть сайт!
                        Зачем мне приложение?
                    </div>


                    <img src="img/cloud-main.svg" alt="">


                </div>
                <div class="our-answers-block">
                    <div class="our-answers-row first-answer-row" style="margin-bottom: 0px;">
                        <div style="width: 520px;"></div>
                        <div style="width: 520px;">
                            <h2 class="our-answer-title">Наши 6 ответов</h2>
                        </div>

                    </div>

                    <div class="our-answers-row">
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer1.svg" alt="">
                                <h3 class="header-black">Станьте ближе для клиента</h3>
                            </div>

                            <div>
                                Приложение – это не сайт, адрес которого надо еще запомнить, чтобы загуглить. Клиент
                                захотел купить ваш товар или заказать еду – приложение всегда под рукой, точнее в
                                телефоне.
                            </div>
                        </div>
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer2.svg" alt="">
                                <h3 class="header-black">Скажите нет корзине СПАМ, которой нет в телефоне!</h3>
                            </div>
                            <div>
                                Будьте удобными! Отправленный короткий push виден даже на заблокированном экране и его
                                можно прочитать, не трогая телефон!
                            </div>
                        </div>
                    </div>
                    <div class="our-answers-row">
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer3.svg" alt="">
                                <h3 class="header-black">Скажите нет безумным бюджетам на таргетинг!</h3>
                            </div>
                            <div>
                                Дайте актуальную информацию. У вас новинки в ассортименте или меню, новая акция или
                                распродажа, открылся новый магазин или кафе? Клиент может это узнать в режиме реального
                                времени! 1 push – и готово!
                            </div>
                        </div>
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer4.svg" alt="">
                                <h3>Скажите нет неработающим Email рассылкам!</h3>
                            </div>
                            <div>
                                Общайтесь с клиентами. Запрашивайте у них отзывы, просите поделиться фото понравившегося
                                товара/блюда в социальных сетях и т.д. Управляйте своей репутацией!
                            </div>
                        </div>
                    </div>
                    <div class="our-answers-row">
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer5.svg" alt="">
                                <h3 class="header-black">Скажите нет неэффективным опросникам! </h3>
                            </div>
                            <div>
                                Продавайте регулярно. Значок вашего приложения на экране телефона – это приглашение
                                зайти на огонек и посмотреть, что есть нового. Клиент заходит в ваше приложение – видит
                                новое фото красивого платья или ароматного блюда из филе курочки и … покупает))
                            </div>
                        </div>
                        <div class="answer">
                            <div class="answer-header">
                                <img src="img/answer6.svg" alt="">
                                <h3 class="header-black">Скажите нет единичным продажам!</h3>
                            </div>
                            <div>
                                Для тех, кого убеждают цифры: на 36% Push-уведомления превышают конверсию, чем почтовые
                                рассылки и SMS-уведомления в 3 раза конверсия в мобильных приложениях для
                                шоппинга превышает аналогичный показатель в мобильных браузерах. На 36% увеличивается
                                база лояльных клиентов.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="our-answers-row btn-row-answer">
                    <div class="answer"></div>
                    <div class="answer btn-answer">
                        <a href="#" class="btn">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="who-me">
        <div class="main-container">

            <div class="who-me__inner">
                <h2>
                    Кто мы?
                </h2>
                <div class="who-me__info">

                    <div class="who-me__block">

                        <div>
                            Мы – команда ИТ-компании «Прогресс Терра», которая создала свою платформу мобильных
                            приложений
                            для магазинов, интернет-магазинов, кафе и ресторанов.<br><br>

                            Мы знаем, как «собрать» ваше приложение быстро с учетом особенностей вашего бизнеса и ваших
                            пожеланий.
                        </div>
                        <a href="#" class="btn btn-who-me">На сайт компании</a>
                    </div>
                    <div class="who-me__img">
                        <img src="img/who-me.svg" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>
    <div class="webSite-about">
        <svg class="svg__up svg-up__wave-hidden" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2882 217">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M2882.000,88.000 C2882.000,88.000 2515.631,-18.811 1999.000,4.000 C1495.973,26.210 847.930,177.973 444.000,184.000 C159.251,188.249 0.000,131.000 0.000,131.000 L0.000,216.000 L2881.000,217.000 L2882.000,88.000 Z" />
        </svg>
        <svg class="svg-up__relative svg-wave-mob" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750 138">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M0.000,113.000 L0.000,0.000 L750.000,0.000 C750.000,0.000 714.961,2.503 659.000,16.000 C622.266,24.860 577.672,39.247 524.000,58.000 C445.720,85.352 338.260,119.305 254.000,132.000 C122.525,151.809 0.000,113.000 0.000,113.000 Z" />
        </svg>
        <div class="main-container">
            <div class="webSite-about__inner">
                Интернет-сайт – это ваше представительство в Интернете, мобильное приложение – это канал продаж,
                маркетинга и общения!
                Сделайте первый шаг к своему мобильному приложению.
            </div>
        </div>
        <svg class="svg__bottom svg-up__wave-hidden" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2882 217">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M2882.000,88.000 C2882.000,88.000 2515.631,-18.811 1999.000,4.000 C1495.973,26.210 847.930,177.973 444.000,184.000 C159.251,188.249 0.000,131.000 0.000,131.000 L0.000,216.000 L2881.000,217.000 L2882.000,88.000 Z" />
        </svg>
        <svg class="svg__bottom svg-wave-mob" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750 130">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M750.000,24.692 L750.000,138.000 L0.000,138.000 C0.000,138.000 35.039,135.490 91.000,121.956 C127.734,113.073 172.328,98.646 226.000,79.842 C304.280,52.416 411.740,18.370 496.000,5.640 C627.475,-14.223 750.000,24.692 750.000,24.692 Z" />
        </svg>
    </div>

    <section class="contact">
        <div class="contact-inner">
            <div class="contact-block">
                <h2 class="header-black header-center">
                    Оставить заявку
                </h2>
                <div class="contact-block__text">
                    Появились вопросы? Звоните прямо сейчас<a href="#">+7 (495) 445-55-01</a>
                    <br>
                    <br>
                    Или оставьте заявку
                </div>
                <form>
                    <input type="text" placeholder="Введите Ваше Имя">
                    <input type="text" placeholder="Введите Ваш E-mail">
                    <input type="text" placeholder="Введите Ваше Имя">
                    <textarea placeholder="Введите сообщения"></textarea>

                    <div class="checkbox-div">
                        <input type="checkbox" id="myAgree-form">

                        <label for="myAgree-form">Соглашаюсь на обработку персональныx данных </label>
                    </div>

                    <button class="btn btn-contact" type="submit">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>
    <section class="base-collection">

        <h2 class="header-black header-center">Что входит в базовую комплектацию?</h2>
        <div class="base-collection-background">
            <svg class="svg__up svg-up__wave-hidden" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2880 421">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                    d="M1.000,181.000 C1.000,181.000 286.345,6.719 732.000,1.000 C877.322,-0.865 1062.919,-3.803 1228.000,38.000 C1667.033,149.174 2136.749,337.977 2468.000,348.000 C2743.332,356.331 2884.000,128.000 2884.000,128.000 L2884.000,421.000 L-0.000,421.000 L1.000,181.000 Z" />
            </svg>
            <svg class="svg-up__relative svg-wave-mob" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750 234">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                    d="M0.000,71.000 L0.000,0.000 L750.000,0.000 C750.000,0.000 701.313,-0.039 654.000,65.000 C600.003,139.227 501.867,223.073 397.000,233.000 C313.737,240.882 166.102,158.137 88.000,108.000 C12.426,59.486 0.000,71.000 0.000,71.000 Z" />
            </svg>
            <div class="main-container">
                <div class="base-collection__inner">
                    <div class="base-collection__adv__block">
                        <h3 class="header-black base-collection__text bc-header">
                            Всего за <span><span class="main-number">290 000</span> рублей</span><br>
                            Вы получаете <span>2 мобильных приложения,</span><br> в которые входят:
                        </h3>
                    </div>
                    <div class="base-collection__flexbox">
                        <div class="collect">
                            <img src="img/base-collection/package1.svg" alt="">
                            <div>
                                Возможность оформления заказов и приема платежей
                            </div>
                        </div>
                        <div class="collect">
                            <img src="img/base-collection/avatar.svg" alt="">
                            <div>
                                Возможность регистрации и аутентификации пользователей по номеру телефона
                            </div>
                        </div>
                        <div class="collect">
                            <img src="img/base-collection/list.svg" alt="">
                            <div>
                                Разделы «Отзывы», «FAQ», «История покупок», «Список и карта всех магазинов/кафе».
                            </div>
                        </div>

                        <div class="collect">
                            <img src="img/base-collection/shopping-bag.svg" alt="">
                            <div>
                                Каталог товаров
                            </div>
                        </div>
                        <div class="collect">
                            <img src="img/base-collection/map.svg" alt="">
                            <div>
                                Настройка зон доставки
                            </div>
                        </div>
                        <div class="collect">
                            <img src="img/base-collection/money.svg" alt="">
                            <div>
                                Создание акций и уведомление об акциях
                            </div>
                        </div>
                        <div class="collect">
                            <img src="img/base-collection/success.svg" alt="">
                            <div>
                                Push-уведомления
                            </div>
                        </div>
                    </div>
                    <div class="testing__block">
                        <h3 class="header-black bc-header">Протестируйте функционал вашего мобильного приложения</h3>
                        <a href="#" class="btn">Тестировать</a>
                    </div>
                </div>
            </div>
            <svg class="svg__bottom svg-up__wave-hidden" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2884 421">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                    d="M1.000,181.000 C1.000,181.000 286.345,6.719 732.000,1.000 C877.322,-0.865 1062.919,-3.803 1228.000,38.000 C1667.033,149.174 2136.749,337.977 2468.000,348.000 C2743.332,356.331 2884.000,128.000 2884.000,128.000 L2884.000,421.000 L-0.000,421.000 L1.000,181.000 Z" />
            </svg>
            <svg class="svg__bottom svg-wave-mob" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 750 60">
                <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                    d="M0.000,14.000 L0.000,60.000 L750.000,60.000 L750.000,0.000 C750.000,0.000 735.440,28.061 701.000,41.000 C663.720,55.006 598.613,45.011 534.000,28.000 C490.321,16.500 436.127,11.616 381.000,6.000 C345.488,2.382 305.966,8.619 275.000,11.000 C211.670,15.869 143.611,58.149 98.000,59.000 C39.954,60.084 0.000,14.000 0.000,14.000 Z" />
            </svg>
        </div>

    </section>
    <section class="also-avaible">
        <div class="main-container">
            <div class="also-avaible__inner">
                <h2 class="header-black header-center">
                    Также всегда доступно для подключения
                </h2>
                <div class="also-avaible__flexbox">

                    <div class="avaible-item">
                        <img src="img/avaible-items/bonus.svg" alt="">
                        <div>
                            Бонусная программа лояльности
                        </div>
                    </div>
                    <div class="avaible-item">
                        <img src="img/avaible-items/puzzle.svg" alt="">
                        <div>
                            Элементы геймификации
                        </div>
                    </div>
                    <div class="break"></div>

                    <div class="avaible-item">
                        <img src="img/avaible-items/ok.svg" alt="">
                        <div>
                            Системы бронирования
                        </div>
                    </div>
                    <div class="avaible-item">
                        <img src="img/avaible-items/mail.svg" alt="">
                        <div>
                            Реферальная система
                        </div>
                    </div>


                    <div class="avaible-item">
                        <img src="img/avaible-items/promotion.svg" alt="">
                        <div>
                            Система промокодов
                        </div>
                    </div>
                    <div class="break"></div>
                    <div class="avaible-item">
                        <img src="img/avaible-items/II.svg" alt="">
                        <div>
                            Искусственный интеллект
                        </div>
                    </div>
                    <div class="avaible-item">
                        <img src="img/avaible-items/push-phone.svg" alt="">
                        <div>
                            Smart push-уведомления
                        </div>
                    </div>
                    <div class="avaible-item item-for-mobile">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <svg class="svg-up__relative svg-up__wave-hidden" style="margin-bottom: 64px;"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2880 370">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M-0.000,164.000 L-0.000,-0.000 L2880.000,-0.000 L2880.000,296.000 C2880.000,296.000 2663.861,204.202 2438.000,221.000 C2064.538,248.775 1520.298,391.030 996.000,367.000 C480.347,343.366 -0.000,164.000 -0.000,164.000 Z" />
        </svg>
        <svg class="svg-up__relative svg-wave-mob" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" style="margin-bottom: 30px;" viewBox="0 0 750 161">
            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                d="M0.000,102.000 C0.000,102.000 94.922,163.945 247.000,158.000 C373.109,153.070 517.089,56.469 620.000,30.000 C702.887,8.681 750.000,53.000 750.000,53.000 L750.000,-0.000 L0.000,-0.000 L0.000,102.000 Z" />
        </svg>
        <img class="background-main__logo footer-logo" src="img/logo.svg" alt="">
        <div class="main-container">
            <div class="footer__contact-us">
                <div class="footer-map">
                    Москва, Россия
                </div>
                <div class="footer-phone">
                    + 7 (495) 445-55-01
                </div>
                <div class="footer-mail">
                    INFO@PROGRESSTERRA.COM
                </div>
            </div>
            <div class="footer_c">
                © 2021 Progress Terra
            </div>
        </div>
    </footer>
</body>

</html>