<!doctype html>
<html lang="en">

<head>
    <title>Airplane</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/adaptive.css">
</head>

<body>
    <header>
        <div class="logo">Your logo</div>
    </header>
    <div class="content">
        <div class="video">
            <div class="thumbnail">
                <div class="thumbnail-filter"></div>
                <button type="button" id="video-play">
                    <img src="images/play.svg" alt="">
                </button>
            </div>
        </div>

        <aside class="info">
            <div class="info-form">
                <h2>Sign in</h2>
                <div class="advice">
                    <div class="advice-item">
                        If you don’t have an account register
                    </div>
                    <div class="advice-item">
                        You can <a class="advice-link" href="register.html"> Register here ! </a>
                    </div>
                </div>


                <form id="log-in" action="">

                    <label for="email">Email</label>
                    <div class="input-inner" id="input-email">
                        <input type="email" id="email" placeholder="Enter your email address">
                    </div>

                    <label for="password">Password</label>
                    <div class="input-inner input-hide last" id="input-password">
                        <input type="password" id="password" placeholder="Enter your Password">
                        <button type="button">
                            <img src="images/hide.svg" alt="">
                        </button>
                    </div>

                    <div class="password-properties">
                        <div class="checkbox-remind">
                            <input type="checkbox" name="" id="remind-me">
                            <label for="remind-me">Rememebr me</label>
                        </div>
                        <a href="#">Forgot Password ?</a>
                    </div>

                    <button class="btn" type="submit">Login</button>
                </form>
                <div class="or">
                    <div class="text">or continue with</div>
                    <div class="links">
                        <a href="https://www.facebook.com/" target="_blank" class="item">
                            <img src="images/Facebook.svg" alt="">
                        </a>
                        <a href="https://www.apple.com/" target="_blank" class="item">
                            <img src="images/apple.svg" alt="">
                        </a>
                        <a href="https://www.google.ru/" target="_blank" class="item">
                            <img src="images/google.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</body>

</html>