<!doctype html>
<html lang="ru">
  <head>
    <title>Единство</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/adaptive.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body class="start">
      <header class="main-header">
          <div class="header-inner">
            <h1>Единство</h1>
            <div class="burger">
                <span></span>
            </div>
            <ul class="burger-panel">
                <li>
                    <a href="pages/citizenship.html">Граждане</a>
                </li>
                <li>
                    <a href="pages/value.html">Валюта</a>
                </li>
                <li>
                    <a href="pages/textures.html">Текстур пак</a>
                </li>
                <li>
                  <a href="pages/rules.html">Правила</a>
                </li>
                
            </ul>
          </div>
      </header>
      <div class="wrapper">
          <div class="site-slider swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide main-slide">
                        <h1 data-aos="fade-up" data-aos-duration="1000">Добро пожаловать в</h1>
                        <h1 class="h1_unity-text" data-aos="fade-up" data-aos-duration="2500">Единство</h1>
                        <h2 data-aos="fade-up" data-aos-duration="3000">Новый город. Новое выживание. Новая экономика. Новая игра</h2>
                        <div class="swipe-go">
                            <div class="swipe-go__text">
                                Прокрути
                            </div>
                            <img src="images/rightarrow_121279.svg" alt="">
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide slide-2">
                        <div class="container horizontal-align">
                            <div class="left-block">
                                <h3>Вы - бравлер</h3>
                            <div class="block-text"><span class="bold">Будьте сильным и мужественным!</span> Это не значит, что вам нужно опираться именно на игру <span class="italic">BrawlStars</span>. Нет!<br><span class="yellow bold">Примените воображение</span> и создайте собственного персонажа! Найдите своё место в нашем городе!</div>
                            <a class="btn-link" href="pages/citizenship.html">О гражданстве
                                <div>
                                    <img src="images/rightarrow_black.svg" alt="">
                                </div>
                            </a>
                            </div>
                            <div class="right-block">
                                <div class="img_preview">
                                    <img src="images/mebravler.png" alt="">
                                    <div class="img_preview__info">
                                        Демонстрация текстур пака
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="slide slide-2">
                        <div class="container horizontal-align reverse">
                            <div class="left-block">
                                <h3>ЭТО МОЙ ДОМ!</h3>
                            <div class="block-text">В отличии от всех остальных городов, мы <span class="bold">не даём вам изначально  жилище</span>, ведь это неинтересно!<br><span class="bold yellow">Постройте свой собственный!</span> Но прошу, чтобы он сочетался в стиле с другими. Можете иметь двухэтажный, с подпольем и т.д.!</div>
                            </div>
                            <div class="right-block">
                                <div class="img_preview">
                                    <img src="images/zelkbuild.png" alt="">
                                    <div class="img_preview__info">
                                        Бравлер строит себе дом
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="slide slide-2">
                        <div class="container horizontal-align">
                            <div class="left-block">
                                <h3>Демократия</h3>
                            <div class="block-text"><span class="bold">Каждый имеет право голоса</span>>, высказавшись в канале Discord <span class="italic">"Предложения и идеи"</span>. Также если два бравлера имеют спор, который они не могут решить, то их тема выносится на всеобщее обсуждения.<br><span class="yellow">Каждый месяц меняется мэр города</span></div>
                            <a class="btn-link" href="pages/rules.html">Почитать правила
                                <div>
                                    <img src="images/rightarrow_black.svg" alt="">
                                </div>
                            </a>
                            </div>
                            <div class="right-block">
                                <div class="img_preview">
                                    <img src="images/democratuya.png" alt="">
                                    <div class="img_preview__info">
                                        Выборы нового мэра
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="slide slide-2">
                        <div class="container horizontal-align reverse">
                            <div class="left-block">
                                <h3>Валюта</h3>
                            <div class="block-text">
                                В нашем городе <span class="bold">исключительно своя валюта</span> в виде <span class="yellow">Голдкоинов и Гравикоинов</span>. Курс валют может меняться в банке, хотя и редко, так что следите :)<br><span class="bold">Теперь принимаются и execoin'ы</span>, которые можно обменять в банке<br>
                            </div>
                            <a class="btn-link" style="max-width: 400px;" href="pages/value.html">Почитать подробнее
                                <div>
                                    <img src="images/rightarrow_black.svg" alt="">
                                </div>
                            </a>
                            </div>
                            <div class="right-block">
                                <div class="img_preview">
                                    <img src="images/value.png" alt="">
                                    <div class="img_preview__info">
                                        Execoin'ы, голдкоины и гравикоины
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="slide slide-2">
                        <div class="container horizontal-align end-screen reverse">
                            <div>
                                <h3>И многое другое</h3>
                            <div class="block-text">Мы имеет <span class="bold">множество профессий, развитую и интересную экономику</span>, основанную на взаимоотношении между игроками! К примеру, каждую неделю проводится шоудаун, где вы можете учавствовать в большом замесе!<br><br>Чтобы присоединиться к нашей дружной семье, кликайте на кнопку ниже!</div>
                            
                            </div>

                            <div class="buttons-swiper">
                                <a class="btn-link" style="max-width: 400px;" href="pages/rules.html">Присоединиться к городу
                                    <div>
                                        <img src="images/rightarrow_black.svg" alt="">
                                    </div>
                                </a>

                                <a class="btn-link btn-discord-link" style="max-width: 400px;" target="_blank" href="https://discord.gg/SrnAdnpEh7">Наш Discord сервер
                                    <div>
                                        <img src="images/Discord-Logo-White.svg" alt="">
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                  </div>

              </div>
          </div>
      </div>
      <div class="swiper-pagination">

      </div>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script> 
  </body>
</html>