<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CrowdMe</title>
    <!-- Reset -->
    <link rel="stylesheet" href="css/reset.css">
    <!-- Slick slider -->
    <link rel="stylesheet" href="js/slick/slick.css">
    <!-- Standart -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Adaptive -->
    <link rel="stylesheet" href="css/adaptive.css">


    <link rel="shortcut icon" href="favicon.png" type="image/png">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/slick/slick.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a href="#" class="logo">
                    <img src="images/logo.png" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                </div>
                <nav class="header-menu-nav">
                    <ul class="header-menu">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOW IT WORKS</a></li>
                        <li><a href="#">DISCOVER A PROJECT</a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">FIND OUT MORE</a></li>
                    </ul>

                    <a class="login-btn" href="#">
                        Login
                    </a>
                </nav>
            </div>
        </div>

    </header>

    <section class="mainSlider">
        <div class="mainSlider-2">
            <div class="container">
                <div class="mainSlider-inner">
                    <h1 class="main-Slider-title">
                        <span>Intellectual Property has the Shelf Life</span><br>
                        of a Banana.
                    </h1>

                    <a href="#" class="becomeMember-btn">Become a Member</a>
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="container">
            <div class="info-inner">
                <div class="info-icon">
                    <img src="images/icon-1.png" alt="">
                </div>

                <h2 class="info-title">
                    Our work is the presentation<br>
                    of our capabilities.
                </h2>
                <div class="info-descpr">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>

                <!-- Табы -->
                <div class="info-tabs">
                    <ul class="info-tabs__menu">
                        <li class="active">
                            <a href="#item-1">
                                <div class="info-tabs__num active">1</div>
                                Simple
                            </a>
                        </li>
                        <li>
                            <a href="#item-2">
                                <div class="info-tabs__num">2</div>
                                Transparent
                            </a>
                        </li>
                        <li>
                            <a href="#item-3">
                                <div class="info-tabs__num">3</div>
                                Collaborative
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="info-items">

                    <div id="item-1" class="info-item_i active">
                        <div class="info-item__i-img">
                            <img src="images/glasses.png" alt="">
                        </div>

                        <div class="info__item-text">
                            <div class="info__item-title">
                                Browse projects, like booking a hotel online!
                            </div>
                            <div class="info__item-descpr">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, necessitatibus?
                            </div>
                        </div>
                    </div>

                    <div id="item-2" class="info-item_i">
                        <div class="info-item__i-img">
                            <img src="images/sofa.png" alt="">
                        </div>
                        <div class="info__item-text">
                            <div class="info__item-title">
                                Browse projects, like booking a hotel online!
                            </div>
                            <div class="info__item-descpr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ullam voluptates
                                praesentium amet eligendi dolorum officiis rem, sequi unde nostrum?
                            </div>
                        </div>
                    </div>

                    <div id="item-3" class="info-item_i">
                        <div class="info-item__i-img">
                            <img src="images/money.png" alt="">
                        </div>
                        <div class="info__item-text">
                            <div class="info__item-title">
                                Browse projects, like booking a hotel online!
                            </div>
                            <div class="info__item-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et do lore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="offers">
        <div class="offer-Properties">
            <div class="offer-item left">
                <div class="offer-img">
                    <img src="images/sofa.png" alt="">
                </div>
                <div class="offer-text">
                    <h2 class="offer-text__title">
                        Find Properties
                    </h2>

                    <div class="offer-text__descpr">
                        Sign up to browse the portfolio. Your journey to becoming a real estate baron starts here.
                    </div>

                    <a href="" class="offer-btn blue">Become A Member</a>
                </div>
            </div>
        </div>

        <div class="offer-Buyers">
            <div class="offer-item right">
                <div class="offer-img">
                    <img src="images/money.png" alt="">
                </div>
                <div class="offer-text">
                    <h2 class="offer-text__title">
                        Find Buyers
                    </h2>
                    <div class="offer-text__descpr">
                        Sign up to browse the portfolio.
                        Your journey to becoming a real estate baron starts here.
                    </div>
                    <a href="" class="offer-btn">Submit your project</a>
                </div>
            </div>
        </div>
    </section>

    <section class="projects">
        <div class="container">

            <div class="projects-descpr">
                <div class="projects-text">
                    <h2 class="projects-title">
                        Featured Projects
                    </h2>
                    <div class="projects-text__descpr">
                        Brief details of new and popular projects. To view full listings, you will be required to
                        sign up and become a member.
                    </div>
                </div>
                <a href="#" class="project-btn">
                    Become a Member
                </a>
            </div>
            <div class="project-items">
                <div class="project-items-inner">
                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-2-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta architecto,
                                cumque ea impedit sint commodi velit quaerat, eveniet maiores explicabo. Dolor est,
                                corporis pariatur voluptatum sequi consectetur doloremque dolores.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 60%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>60% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">


                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>

                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ea. Quo velit
                                tempora fuga atque neque eos commodi optio magni nam tenetur, illum nostrum fugit.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-2-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta architecto,
                                cumque ea impedit sint commodi velit quaerat, eveniet maiores explicabo. Dolor est,
                                corporis pariatur voluptatum sequi consectetur doloremque dolores.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 60%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>60% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>

                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ea. Quo velit
                                tempora fuga atque neque eos commodi optio magni nam tenetur, illum nostrum fugit.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-2-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>
                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta architecto,
                                cumque ea impedit sint commodi velit quaerat, eveniet maiores explicabo. Dolor est,
                                corporis pariatur voluptatum sequi consectetur doloremque dolores.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 60%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>60% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="project-item">
                        <div class="project-item__header">
                            <div class="project-item__new">
                                NEW
                            </div>
                            <div class="project-item__img">
                                <img src="images/item-1-background.png" alt="">
                            </div>
                            <div class="project-item__price">
                                From <span>GBP 3600</span>
                            </div>
                        </div>

                        <div>
                            <div class="project-item__info-title">
                                Ontario Tower , LONDON
                            </div>
                            <div class="project-item__info-descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ea. Quo velit
                                tempora fuga atque neque eos commodi optio magni nam tenetur, illum nostrum fugit.
                            </div>
                        </div>
                        <div class="project-item__infoPanel">
                            <div class="project-item__info-progress-bar">
                                <span style="width: 10%;">.</span>
                            </div>
                            <div class="project-item__info-prInformation">
                                <span>10% Funded</span>
                                <span>8 Days Left</span>
                            </div>
                            <hr>
                            <div class="project-item__moreInfo">
                                <a href="#">See Project Details
                                    <div class="project-item__moreInfo-btn">
                                        <img src="images/moreInfo_next.svg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <div class="reviews-inner">
                <div class="reviews-title">
                    Be Part of a Growing International Community
                </div>
                <div class="reviews-descpr">
                    One of the challenges in networking is everybody thinks it's making cold calls to strangers.
                    Actually, it's the people who already have strong trust relationships with you
                </div>
                <div class="reviews-buyers">
                    <div class="reviews-buyer">
                        <div class="reviews-buyer__block">
                            <div class="reviews-buyer__title">
                                One of the Best
                            </div>
                            <div class="reviews-buyer__descpr">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolores quidem ipsa
                                veritatis rem aspernatur quae, dolorum ipsum fugit corporis sint molestiae aliquid,
                                dolorem voluptatibus at veniam explicabo. Autem, molestiae?
                            </div>
                            <div class="reviews-buyer__triangle">
                                <img src="images/comment-triangle.svg" alt="">
                            </div>
                        </div>
                        <div class="reviews-buyer__author">
                            <div class="reviews-buyer__photo-author">
                                <img src="images/David-Beckham.png" alt="">
                            </div>
                            <div class="reviews-buyer__name-author">
                                David Beckham
                            </div>
                        </div>
                    </div>

                    <div class="reviews-buyer">
                        <div class="reviews-buyer__block">
                            <h2 class="reviews-buyer__title">
                                Exellent Service
                            </h2>
                            <div class="reviews-buyer__descpr">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut labore et dolore magna aliqua.
                            </div>
                            <div class="reviews-buyer__triangle">
                                <img src="images/comment-triangle.svg" alt="">
                            </div>
                        </div>
                        <div class="reviews-buyer__author">
                            <div class="reviews-buyer__photo-author">
                                <img src="images/David-Beckham-2.png" alt="">
                            </div>
                            <div class="reviews-buyer__name-author">
                                David Beckham
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="partners">
        <div class="container">
            <div class="partners-inner">
                <div class="partner">
                    <img src="images/Partners.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer class="copyright">
        <div class="container">
            <div class="copyright-inner">
                Copyright © 2001 - 2021 Cssauthor.com
            </div>
        </div>
    </footer>
</body>

</html>