<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prechu</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <a href="#">
                        <img src="images/logotype.png" alt="">
                    </a>
                </div>

                <nav class="menu">
                    <ul class="menu-list">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="start-screen">
        <div class="container">
            <div class="start-screen__inner">
                <div class="start-screen__iphone">
                    <img src="images/iphone.png" alt="">
                </div>
                <div class="start-screen__info">
                    <h1 class="start-screen__text">
                        <span>Lorem Ipsum is simply</span><br>
                        dummy text of the<br>
                        printing & typesetting
                    </h1>
                    <a class="start-screen__btn" href="#">
                        Sign up now
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="offers">
        <div class="container">
            <div class="offers-items">
                <!-- Предложения предметы -->
                <div class="offer-item">
                    <img class="offer-item__img" src="images/item-1.png" alt="">
                    <h3 class="offer-item__title">
                        Contrary to popular
                    </h3>
                    <div class="offer-item__descpr">
                        Lorem Ipsum is not simply random text. It has roots in a piece 
                    </div>
                </div>

                <div class="offer-item">
                    <img class="offer-item__img" src="images/item-2.png" alt="">
                    <h3 class="offer-item__title">
                        Contrary to popular
                    </h3>
                    <div class="offer-item__descpr">
                        Lorem Ipsum is not simply random text. It has roots in a piece 
                    </div>
                </div>

                <div class="offer-item">
                    <img class="offer-item__img" src="images/item-3.png" alt="">
                    <h3 class="offer-item__title">
                        Contrary to popular
                    </h3>
                    <div class="offer-item__descpr">
                        Lorem Ipsum is not simply random text. It has roots in a piece 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="information">
        <div class="container">
            <h2 class="information-title">
                The Shopping cart
            </h2>

            <div class="information-info">
                <img src="images/basket.png" alt="" class="information-img">

                <div class="information-info-text">
                    <div class="information-info-text__title">
                        Some Bullet text here
                    </div>
                    <div class="information-info-text__descpr">
                        Lorem Ipsum is simply dummy text of the printing and typesetting 
    Lorem Ipsum has been the industry's standard dummy text ever 
    When an unknown printer took a galley of type and scrambled 
    It to make a type specimen book. It has survived not only five centuries
    But also the leap into electronic typesetting,
    Remaining essentially unchanged. It was popularised 
    The release of Letraset sheets containing Lorem Ipsum passages
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-info">
                Copyright © 2012-2013 cssauthor.com
            </div>
        </div>
    </footer>
</body>

</html>