<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Tank App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheer" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Ubuntu -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">


    <!-- Scripts -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logotype-img">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="menu">
                    <ul class="menu-list">
                        <li>
                            <a href="#">How it works</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="signUp">
        <div class="container">
            <div class="signUp-inner">
                <div class="signUp-info">
                    <h1 class="signUp__title">
                        Track your next
                        fuel shops
                    </h1>

                    <div class="signUp__descpr">
                        Monitor and Alert on all petrol bunks near to you
                    </div>

                    <div class="signUpfree__Img">
                        <img src="images/Sign-up.png" alt="">
                    </div>

                    <div class="signUp__form">
                        <form>
                            <input id="input-email" type="text" placeholder="Your E-mail  Adress">
                            <button type="button" class="SignUp-btn">SignUp</button>
                        </form>
                    </div>
                    <div class="signUp-error">
                        Ошибка!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="partners">
        <div class="container">
            <div class="partners-inner">
                <div class="partners-item">
                    <img src="images/Partner-1.png" alt="">
                </div>
                <div class="partners-item">
                    <img src="images/Partner-2.png" alt="">
                </div>
                <div class="partners-item">
                    <img src="images/Partner-3.png" alt="">
                </div>
                <div class="partners-item">
                    <img src="images/Partner-4.png" alt="">
                </div>
                <div class="partners-item">
                    <img src="images/Partner-5.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <section class="whyTank">
        <div class="container">
            <div class="whyTank-inner">
                <h2 class="content-title">
                    WHY Tank App ?
                </h2>
                <div class="whyTank-items">

                    <div class="whyTank-item">
                        <div class="whyTank-item__title">
                            <img src="images/icon-1.png" alt="">
                            Reliable and Secure Platform
                        </div>
                        <div class="whyTank-item__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea com
                        </div>
                    </div>
                    <div class="whyTank-item">
                        <div class="whyTank-item__title">
                            <img src="images/icon-2.png" alt="">
                            Everything is perfectly orgainized
                        </div>
                        <div class="whyTank-item__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea com
                        </div>
                    </div>
                    <div class="whyTank-item">
                        <div class="whyTank-item__title">
                            <img src="images/icon-3.png" alt="">
                            Rapid customer support
                        </div>
                        <div class="whyTank-item__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea com
                        </div>
                    </div>
                    <div class="whyTank-item">
                        <div class="whyTank-item__title">
                            <img src="images/icon-4.png" alt="">
                            Tons of features and easy to use
                        </div>
                        <div class="whyTank-item__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea com
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="whyDifferent">
        <div class="container">
            <div class="whyDifferent-inner">
                <h2 class="whyDifferent-title">
                    WHY TANK APP DIFFRENT ?
                </h2>

                <div class="whyDifferent-info">
                    <div class="whyDifferent-info__title">
                        <img src="images/icon-5.png" alt="">
                        Works on any device anyware
                    </div>
                    <div class="whyDifferent-info__descpr">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea com Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="saveTime">
        <div class="container">
            <div class="saveTime-inner">
                <h2 class="saveTime-title">
                    SAVE TIME & GAIN AGILITY
                </h2>
                <div class="saveTime-descpr">
                    Using our cloud Monitoring Services So you can Focous on Runing Yours Better
                </div>
                <form action="" class="saveTime-form">
                    <input type="text" class="saveTime-form__input" placeholder="Enter Your E-mail Adress">

                    <button class="saveTime-btn SignUp-btn">Sign U</button>
                </form>
            </div>
        </div>
    </section>

    <div class="Yandex-map">
        <div class="container">
            <div class="Yandex-map-inner">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A2045464a94e5c4130bbab26e6be36ed2760abdd06fa88a6e6f727b6866e1df8b&amp;source=constructor"
                    width="100%" height="550px" frameborder="0"></iframe>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <img src="images/logo-gray.png" alt="">

                <div class="menu footer-menu">
                    <ul class="menu-list">
                        <li>
                            <a href="#">How it works</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a class="footer-border" href="#">Blog</a>
                        </li>

                        
                    </ul>
                    <div class="footer-links">
                        <a class="footer-links__start" href="#">
                            <img src="images/twitter.png" alt="">
                        </a>
                        <a href="#">
                            <img src="images/Facebook.png" alt="">
                        </a>
                        <a href="#">
                            <img src="images/google.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- VK Widget -->
    <div id="vk_community_messages"></div>
    <script type="text/javascript">
        VK.Widgets.CommunityMessages("vk_community_messages", 196441533, { disableExpandChatSound: "1", tooltipButtonText: "Есть вопрос?" });
    </script>
</body>

</html>