<!doctype html>
<html lang="ru">
  <head>
    <title>Единство - правила</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adaptive.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
      <header class="page-header">
        <a class="back-main" href="../index.html">
            <img src="../images/leftarrow_121320.svg" alt="">
            <div class="back-main__text">
                Назад
            </div>
        </a>
        <h4>
            Гражданство
        </h4>
      </header>

        <div class="title_panel">
            <h1 data-aos="fade-up" data-aos-duration="2500">
                Наши бравлеры<br>
                Наша <span class="yellow h1span">сила</span>
            </h1>
            <div class="please-down">
                <div class="swipe-go__text">
                    Прокрути вниз
                </div>
                <img src="../images/rightarrow_121279.svg" alt="">
            </div>
        </div>

        <section class="who-is-bravler">
            <div class="page-container2">
                <h2 class="black more-fontsize">Кто такие бравлеры?</h2>
                <div class="common-text">
                    Мы сильные и храбрые воины, живущие по законам нашего местного городка. Каждый бравлер имеет свою профессию, за которую зарабатывает довольно приличные деньги, размениваясь ими с другими бравлерами. Мы - независимы от других, имея <a href="../pages/value.html">свою валюту</a> и свою экономику.
                </div>
            </div>
        </section>
        

        <div class="page-container2">
            <div class="villagers-inner">
                <div class="title-count-villager">
                    <h2 class="black more-fontsize">Количество граждан</h2>
                    <h2 class="black more-fontsize">4/10</h2>
                </div>
                <div class="villages-cards">

                    <div class="card main-card">
                        <img src="../images/villagers/zelkpr.jpg" alt="">
                        <div class="card-name">
                            Зелк
                        </div>
                        <div class="card-nickname">
                            zelkpr
                        </div>
                        <div class="card-otherinfo">

                            <div class="card-str">
                                <div class="main">
                                    Пришёл в город:
                                </div>
                                <div class="value">
                                    14.06.2021
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    Работа:
                                </div>
                                <div class="value">
                                    Кузнец
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    День рождения:
                                </div>
                                <div class="value">
                                    17.06
                                </div>
                            </div>

                        </div>

                        <a target="_blank" class="btn-link" style="max-width: 400px;" href="https://vk.com/zelkpr">Сайт
                            <div>
                                <img src="../images/rightarrow_black.svg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <img src="../images/villagers/Steve.png" alt="">
                        <div class="card-name">
                            Стив
                        </div>
                        <div class="card-nickname">
                            Seibik_corp2018
                        </div>
                        <div class="card-otherinfo">

                            <div class="card-str">
                                <div class="main">
                                    Пришёл в город:
                                </div>
                                <div class="value">
                                    13.06.2021
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    Работа:
                                </div>
                                <div class="value">
                                    Банкир
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    День рождения:
                                </div>
                                <div class="value">
                                    10.11
                                </div>
                            </div>

                        </div>

                        <a target="_blank" class="btn-link" style="max-width: 400px;" href="https://www.facebook.com/profile.php?id=100009937573401">Сайт
                            <div>
                                <img src="../images/rightarrow_black.svg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <img src="../images/villagers/Flocas.png" alt="">
                        <div class="card-name">
                            Флокс
                        </div>
                        <div class="card-nickname">
                            FloCas2068
                        </div>
                        <div class="card-otherinfo">

                            <div class="card-str">
                                <div class="main">
                                    Пришёл в город:
                                </div>
                                <div class="value">
                                    08.07.2021
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    Работа:
                                </div>
                                <div class="value">
                                    Лучник
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    День рождения:
                                </div>
                                <div class="value">
                                    05.08
                                </div>
                            </div>

                        </div>

                        <a target="_blank" class="btn-link" style="max-width: 400px;" href="https://vk.com/dmakarshanov">Сайт
                            <div>
                                <img src="../images/rightarrow_black.svg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <img src="../images/villagers//F.jpg" alt="">
                        <div class="card-name">
                            Фларк
                        </div>
                        <div class="card-nickname">
                            Flark_3301
                        </div>
                        <div class="card-otherinfo">

                            <div class="card-str">
                                <div class="main">
                                    Пришёл в город:
                                </div>
                                <div class="value">
                                    21.07
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    Работа:
                                </div>
                                <div class="value">
                                    Зельевар
                                </div>
                            </div>
                            <div class="card-str">
                                <div class="main">
                                    День рождения:
                                </div>
                                <div class="value">
                                    19.02
                                </div>
                            </div>

                        </div>

                        <a target="_blank" class="btn-link disable" style="max-width: 400px;" href="#">None
                            <div>
                                <img src="../images/rightarrow_black.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        
        <section class="how-to-become-bravler">
            <div class="page-container2">
                <h2 class="black more-fontsize">Как стать бравлером</h2>
                <div class="common-text">
                    Чтобы стать бравлером, вам нужно принять несколько условий
                </div>
                <div class="polls">
                    <a href="#what-do-you-can-take" class="poll">
                        <div class="number">
                            <div>1</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Вы должны отказаться от всех ваших прежних вещей.</span> Эти вещи вы можете оставить в своём доме и перейти в наш город, начав жизнь с чистого листа. (Исключая предметы, перечисленные нижнем разделе)
                        </div>
                    </a>
                    <a href="../pages/value.html" class="poll">
                        <div class="number">
                            <div>2</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Использовать только местную валюту.</span> Вы можете в городе тратить голдкоины и гравикоины, но если хотите отправиться в путешествие по другим городам, то в банке легко обменять ГК на международный execoin
                        </div>
                    </a>
                    <a href="../pages/rules.html#rules-businnes" class="poll">
                        <div class="number">
                            <div>3</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Вашу профессию никто не заменит.</span> Любому бравлеру нельзя делать то, что делает другой бравлер по профессии (кузнец - броню, но не луки, т.к. лучник делает - луки). Поэтому в нашем городе сильно развита торговля, т.к. вы не сможете обойтись без других, а они не могут обойтись без Вас 
                        </div>
                    </a>
                    <a href="../pages/value.html#nalog" class="poll">
                        <div class="number">
                            <div>4</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Оплачивать налоги.</span> Кажется ли Вам, что налоги - это лишнее? Но во-первых, налоги помогают нам бороться с монополистами, а во-вторых удостовериваться в том, что люди не АФК, ведь за неуплату взыскивается штраф. Да и налоги в принципе низкие, а узнать о них подробнее можете в "валюте" на сайте
                        </div>
                    </a>
                    <a href="../pages/textures.html" class="poll">
                        <div class="number">
                            <div>5</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Скачать текстур пак.</span> После всех пунктов, вам потребуется специальный текстур пак для нашего РП города, чтобы ваши предметы не были невзрачными стандартными текстурами майнкрафта. Отметим, что текстур пак не конфликтует с другими, ибо использует CIT функцию
                        </div>
                    </a>
                    <a target="_blank" href="https://discord.gg/SrnAdnpEh7" class="poll">
                        <div class="number">
                            <div>6</div>
                        </div>
                        <div class="descpr">
                            <span class="bold">Быть в нашем Discord сервере.</span> На нашем сервере мы постоянно общаемся или сообщаем друг другу важные новости по поводу города, поэтому быть там - обязательно
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section id="what-do-you-can-take">
            <div class="page-container what-do-you-can-take__inner">
                <h2 class="black more-fontsize">Что можно взять с собой?</h2>
                <div class="common-text">
                    Приходя в город, вы оставляете все свои прежние вещи в свой прошлый дом, чтобы начать жизнь в городе с чистого листа. Это нужно для того, чтобы было интересно развиваться вместе со всеми!<br><br>Конечно... Некоторые из вещей вы можете всё же взять:
                </div>
                <div class="takes-list">
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/Железный_слиток.png" alt="">
                        </div>
                        <div class="text">
                            40X Железные слитки
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/Жареная_свинина.png" alt="">
                        </div>
                        <div class="text">
                            20X Любая еда (кроме золотых яблок)
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/Деревянный_меч.png" alt="">
                        </div>
                        <div class="text">
                            Деревянный меч
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/Кожаная_кираса.png" alt="">
                        </div>
                        <div class="text">
                            Половина сета кожаной броне
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/unnamed.png" alt="">
                        </div>
                        <div class="text">
                            2X любых предметов (не минералов, не броня, не оружие)
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="../images/items/Дубовая_древесина.png" alt="">
                        </div>
                        <div class="text">
                            2 любых стака строительных блоков (желательно дерево и камень)
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="give-submit">
            
            <div class="page-container2 give-sumbit__inner">
                <h2 class="black more-fontsize">Подать заявку</h2>
                <div id="mini-form">
                    <input id="check-yes" type="checkbox" name="" id="">
                    <label for="">Согласны ли вы со всеми условиями, описанные <a href="../pages/rules.html">в правилах города</a></label>
                </div>
                <a target="_blank" href="https://forms.gle/czprNsJ4q8hb5Mx37" class="btn-link disable" id="btn-submit" style="max-width: 400px; margin-top: 40px;">Перейти к заявке

                    <div>
                        <img src="../images/заявка.svg" alt="">
                    </div>
                </a>
            </div>
        </section>

      <footer>
          <div class="footer-text">
              ЕДИНСТВО - город для всех
          </div>
      </footer>

      <script src="../js/jquery-3.5.1.min.js"></script>
      <script src="../js/script.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script> 
  </body>
</html>