<!doctype html>
<html lang="ru">
  <head>
    <title>Единство - правила</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adaptive.css">
  </head>
  <body>
      <header class="page-header">
        <a class="back-main" href="../index.html">
            <img src="../images/leftarrow_121320.svg" alt="">
            <div class="back-main__text">
                Назад
            </div>
        </a>
        <h4>
            Правила
        </h4>
      </header>

      <div class="page-container">
          <h1>Знай свои права</h1>
          <div class="h1-pre">Соблюдая правила, мы обеспечим городу процветание и веселье</div>

          <div class="rules-block">
            <div class="update-context">
                Последнее обновление: 18.07.2021
            </div>

            <div class="rules-text">
                <div class="rules-text__selection">
                    <div class="text">
                        1. Все правила сервера Execraft действуют на наш город, в том числе нормы поведения в чате на сервере и Discord
                    </div>
                </div>
                <div class="rules-text__selection">
                    <h5>
                        Гражданство
                    </h5>
                    <div class="text">
                        <p>1. Чтобы получить гражданство, вы должны отказаться от всех ваших ресурсов. (Подробно #новичкам)</p>
                        <p>2. При получении гражданства можно взять те предметы, которые перечислены на странице <a href="../pages/citizenship.html">Гражданство</a> в разделе "Как получить гражданство?"</p>
                        <p>3. Бравлер использует ресурсы только те, что получил с наступления жизни в городе, не беря ничего с потусторонних рынков. ИСКЛЮЧЕНИЕ: если ресурсы, которые вам нужны не связаны с одной из профессий в нашем городе, то можно торговаться с потусторонними рынками (исключение не действует на ЖЕЛЕЗНЫЕ СЛИТКИ, или ЖЕЛЕЗНЫЕ БЛОКИ, которые хотите перекрафтить в ЖЕЛЕЗНЫЕ СЛИТКИ)</p>
                        <p>4. Автофермы железа запрещены, дабы не было инфляции</p>
                        <p>5. Нельзя убивать других бравлеров, кроме как на поединках 1vs1, шоудаунах и др. мероприятиях</p>
                        <p>6. НЕ ОДЕВАЕМ ШЛЕМЫ! Шлемы скрывают ваше лицо, что показывает вашу трусость!</p>

                        <p>ДОПОЛНИТЕЛЬНО:</p>
                        <p>Вы можете использовать ресурсы до гражданства, но после возвращения в город, возвращаться с тем, чем были во время гражданства</p>
                    </div>
                </div>
                <div class="rules-text__selection">
                    <h5>Валюта</h5>
                    <div class="text">
                        <p>1. Местная валюта - Голдкоины (ГК) и Гравикоины (ГРК)</p>
                        <p>2. Запрещено рушить экономику города путём автоферм или приноса в город доп. ресурсов из предыдущих накоплений до гражданства</p>
                        <p>3. Использовать только местную валюту. Иная валюта запрещена (Execoin'ы конвертируем в ГК)</p>
                        <p>4. Запрещено делать собственноручно броню и оружию для себя, если вы не кузнец. Только купить на рынке 
                        </p>
                        <p>5. При выплате за предмет большей валютой, чем стоимость товара, то продавец обязан
                            <br>
                            a. Дать всю сдачу
                            <br>
                            b. Если не хватает на сдачу, то вернуть позже, уведомив клиента заранее об этом и после возврата
                        </p>
                        <p>6. При любых сделках, обмена валютой и т.д. при числе в дробях, положено округлять число до целого по правилам математики (т.е. если дробь .5 и более). ИСКЛЮЧЕНИЕ: банк, в не зависимости округляется до целого в пользу банка</p>
                    </div>
                </div>

                <div class="rules-text__selection">
                    <h5>
                        Инвенты
                    </h5>
                    <div class="text">
                        <P>1. Каждый бравлер имеет право вызвать другого бравлера на поединок</P>
                        <p>2. Не принять вызов на поединок будет считаться трусостью (если имеется ввиду тип поединка: ОБЫЧНЫЙ).</p>
                        <p>3. Поединки делятся на 2 типа: <br>
                            a. Обычный - после смерти проигравшего, ВСЕ его ресурсы отдаются ему по возвращению<br>
                            b. Призовой - стороны поединка заранее обговаривают условия и ресурсы, которые получат после схватки
                        </p>
                        <p>4. Каждую неделю время от времени проводится минимум один Шоудаун с призами от Мэра</p>
                        <p>5. Прочие мини-игры, в том числе шоудаун, также могут проводиться между игроками БЕЗ Мэра, но в этом случае призы либо сами устанавливаются игроками на ставку, либо просто играете ради развлечения без призов</p>
                    </div>
                </div>
                <div class="rules-text__selection">
                    <h5>
                        Собственность
                    </h5>
                    <div class="text">
                        <p>1. Каждый бравлер вправе построить тот дом, который хочет</p>
                        <p>2. Желательно строить в общем стиле, дабы не выделяться</p>
                        <p>3. Обговор насчёт территории для дома в городе и его размеров - с мэром</p>
                        <p>4. Запрещено строить автофермы, которые нарушают правила сервера или правила Единства</p>
                        <p>5. Блоки и прочие принадлежности для строительства либо покупать у местных рынков за местную валюту (если нет в местных, то у других игроков небравлеров), либо добывать в шахтах</p>
                        <p>6. Территория под дом или иную постройку отдаётся за определённую цену голдкоинов, которую указывает Мэр. Можете задать вопросы в ЛС или в канале <span class="italic">#вопрос-и-ответы</span> Discord'а</p>
                        <p>7. При исключении из гражданства, всё имущество, включая предметов, будет конфисковано городом и передано банку. Что не может быть конфисковано - уничтожить, включая сам дом</p>
                        <p>8. Подвал можно строить размером, больше вашей территории в ширину и длину на 10 блоков, НО если ваш подвал пересечёт чужую территорию И владелец той территории пожалуется, то вы либо:<br>
                        a. Договоритесь с владельцем чужой территории<br>
                        b. Уничтожаете ту часть вашей территории, которая занимает чужую часть</p>
                    </div>
                </div>
                <div class="rules-text__selection">
                    <h5>
                        Выборы мэра
                    </h5>
                    <div class="text">
                        <p>1. Новому мэру выдаётся привилегия управлять городом, распоряжаться территориями, менять экономику (кроме валюты)</p>
                        <p>2. Избрание мэра производится раз в месяц (14 числа)</p>
                        <p>3. Мэр обязан соблюдать все правила города "Единства" и не вправе их менять. Может предложить новые правила @Стив 'у</p>
                        <p>4. Порядок избрание Мэра производится путём голосования в определённый день записными книжками. Книги подписываются дабы нельзя было приписывать что-то другое. Книги обеспечиваются городом</p>
                        <p>5. Выбираются кандидаты на должность мэра перед выборами (любые желающие), но они не могут голосовать вообще</p>
                        <p>6. Мэр может быть заново переизбран только в 3-х случаях: <br>
                        a. Мэр уходит из города<br>
                        b. Мэр добровольно снимается с должности<br>
                        c. Экономика при его управлении падает (исключение: вайп сервера) </p>
                        <p>6. Мэр не вправе распоряжаться бюджетом города в своих личных целях</p>
                        <p>7. При избрании принимаются бравлеры в участии, которые имеют гражданство 1 неделю и более</p>
                    </div>
                </div>
                <div id="rules-businnes" class="rules-text__selection">
                    <h5>
                        Бизнес
                    </h5>
                    <div class="text">
                        <p>1. Запрещено зачаровывать предметы на починку и на прочность</p>
                        <p>2. Исключение для пункта 1. Прочность I можно применять к кристальным вещам и менее, а также починка для удочки</p>
                        <p>3. Запрещено создавать те предметы, которые делают другие бравлеры по другой профессии</p>
                        <p>4. При улучшении, скрещивании и т.д. мастер должен предупредить клиента ДО создания, если видит в результате ухудшение хоть одной характеристики</p>
                    </div>
                </div>
            </div>
            <div class="h1-pre">
                Это было скучно, но прочитать стоило<br>
                Уверен, большинство людей просто промотали вниз
            </div>
            <a class="btn-link" style="max-width: 400px; margin-top: 40px;" href="../pages/citizenship.html">Перейти к гражданству
                <div>
                    <img src="../images/rightarrow_black.svg" alt="">
                </div>
            </a>
          </div>
      </div>

      <footer>
          <div class="footer-text">
              ЕДИНСТВО - город для всех
          </div>
      </footer>
  </body>
</html>