<!doctype html>
<html lang="ru">
  <head>
    <title>Единство - правила</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/adaptive.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
      <header class="page-header">
        <a class="back-main" href="../index.html">
            <img src="../images/leftarrow_121320.svg" alt="">
            <div class="back-main__text">
                Назад
            </div>
        </a>
        <h4>
            Валюта
        </h4>
      </header>

        <div class="title_panel title-textures">
            <h1 data-aos="fade-up" data-aos-duration="2500">
                Наша валюта<br>
                <span class="h1span yellow">Голдкоины</span> и <span class="h1span purple">Гравикоины</span>
            </h1>
            <div class="please-down">
                <div class="swipe-go__text">
                    Прокрути вниз
                </div>
                <img src="../images/rightarrow_121279.svg" alt="">
            </div>
        </div>

        <section class="why-need-textures">
            <div class="page-container2">
                <div class="why-need-textures__inner">
                    <div>
                        <h2 class="black more-fontsize">Валюта нового поколения</h2>
                <div class="common-text block-textures">
                    Ещё до вайпа сервера использовались только изумруды, а олды помнят алмазы. Теперь же в наших сердцах загорелась новая идея ввести свою валюту - <span class="bold yellow">Голдкоины</span> (ГК) и <span class="bold purple">Гравикоины</span> (ГРК).
                </div>
                    </div>
                    <div class="why-need-text-image">
                        <img src="../images/bank.png" alt="">
                    </div>
                </div>
                
            </div>
        </section>

        <section class="what-and-other-texture">
            <div class="page-container2">
                <h2 class="black more-fontsize">После вайпа</h2>
                <div class="common-text">
                    Т.к. вайп был неизбежен и с вводом новой валюты <span class="bold execolor">execoin'ы</span>, мы также решили быть в ногу со временем, введя способ перевода международной валюты в нашу местную и наоборот
                </div>
            </div>
        </section>

        <section class="value">
            <div class="page-container2">
                <h2 class="black more-fontsize">Курс валют</h2>
                <div class="common-text">
                    Вы также можете обмениваться валютой в банке и ниже мы представляем курс, по которому вы можете сделать:
                </div>
                <div class="value-list">
                    <div class="item">
                        <div class="pre-item">
                            <div class="img-val">

                                <img src="../images/goldcoins.png" alt="">
                                
                                <div class="name-val">
                                    Голдкоины (ГК)
                                </div>
                            </div>
                            <div class="num-val left">
                                20
                            </div>
                        </div>
                        <div class="pre-item">
                            <div class="num-val right">
                                1
                            </div>
                            <div class="img-val">
                                <img src="../images/gravicoins.png" alt="">
                                <div class="name-val">
                                    Гравикоины (ГРК)
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="item">
                        <div class="pre-item">
                            <div class="img-val">

                                <img src="../images/gravicoins.png" alt="">
                                
                                <div class="name-val">
                                    Гравикоины (ГРК)
                                </div>
                            </div>
                            <div class="num-val left">
                                1
                            </div>
                        </div>
                        <div class="pre-item">
                            <div class="num-val right">
                                19
                            </div>
                            <div class="img-val">
                                <img src="../images/goldcoins.png" alt="">
                                <div class="name-val">
                                    Голдкоины (ГК)
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="item">
                        <div class="pre-item">
                            <div class="img-val">

                                <img src="../images/goldcoins.png" alt="">
                                
                                <div class="name-val">
                                    Голдкоин (ГК)
                                </div>
                            </div>
                            <div class="num-val left">
                                3
                            </div>
                        </div>
                        <div class="pre-item">
                            <div class="num-val right">
                                1
                            </div>
                            <div class="img-val">
                                <img src="../images/execoin.png" alt="">
                                <div class="name-val">
                                    Экзекоин (Э€)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="pre-item">
                            <div class="img-val">

                                <img src="../images/execoin.png" alt="">
                                
                                <div class="name-val">
                                    Экзекоин (Э€)
                                </div>
                            </div>
                            <div class="num-val left">
                                1
                            </div>
                        </div>
                        <div class="pre-item">
                            <div class="num-val right">
                                2
                            </div>
                            <div class="img-val">
                                <img src="../images/goldcoins.png" alt="">
                                <div class="name-val">
                                    Голдкоин (ГК)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="pre-item">
                            <div class="img-val">

                                <img src="../images/iron.png" alt="">
                                
                                <div class="name-val">
                                    Железный слиток
                                </div>
                            </div>
                            <div class="num-val left">
                                2
                            </div>
                        </div>
                        <div class="pre-item">
                            <div class="num-val right">
                                1
                            </div>
                            <div class="img-val">
                                <img src="../images/goldcoins.png" alt="">
                                <div class="name-val">
                                    Голдкоин (ГК)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre">
                    * Для НЕ граждан цена валют удваивается
                </div>
            </div>
        </section>

        <section class="calc">
            <div class="page-container2">
                <h2 class="black more-fontsize">Обмен валютой</h2>
                <div class="common-text">
                    Все операции проводяться в банке благодаря Стиву или автономно, что помогает нашему городу жить не надеясь на онлайн одного игрока.<br>Ниже <span class="bold">калькулятор валют</span>, в котором вы можете посчитать во сколько обойдётся конвертация из одной валюты в другую:
                </div>
                <div id="calculator">
                    <div class="first-translate">
                        <div id="first-drop" class="dropdown" choosen="1">
                            <div class="selected">
                                <div class="item-img">
                                    <img src="../images/goldcoins.png" alt="">
                                </div>
                                <div class="item-text">
                                    Голдкоины
                                </div>
                            </div>
                            <div class="selecters">
                                <div class="item" index="0">
                                    <div class="item-img">
                                        <img src="../images/gravicoins.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Гравикоины
                                    </div>
                                </div>
                                <div class="item" index="1">
                                    <div class="item-img">
                                        <img src="../images/goldcoins.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Голдкоины
                                    </div>
                                </div>
                                <div class="item" index="2">
                                    <div class="item-img">
                                        <img src="../images/execoin.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Экзекоины
                                    </div>
                                </div>
                                <div class="item" index="3">
                                    <div class="item-img">
                                        <img src="../images/items/Железный_слиток.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Жел. слитки
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <input name="" id="input-value" value="20">
                        <input type="checkbox" name="" id="you-not-bravler">
                        <label for="">Вы не бравлер нашего города</label>
                    </div>
                    <span></span>
                    <div class="second-translate">
                        <div id="second-drop" class="dropdown" choosen="0">
                            <div class="selected">
                                <div class="item-img">
                                    <img src="../images/gravicoins.png" alt="">
                                </div>
                                <div class="item-text">
                                    Гравикоины
                                </div>
                            </div>
                            <div class="selecters">
                                <div class="item" index="0">
                                    <div class="item-img">
                                        <img src="../images/gravicoins.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Гравикоины
                                    </div>
                                </div>
                                <div class="item" index="1">
                                    <div class="item-img">
                                        <img src="../images/goldcoins.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Голдкоины
                                    </div>
                                </div>
                                <div class="item" index="2">
                                    <div class="item-img">
                                        <img src="../images/execoin.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Экзекоины
                                    </div>
                                </div>
                                <div class="item" index="3">
                                    <div class="item-img">
                                        <img src="../images/items/Железный_слиток.png" alt="">
                                    </div>
                                    <div class="item-text">
                                        Жел. слитки
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div id="result">
                            1
                        </div>
                        <div id="ostatoc">
                            Остаток: 0 ГК
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="business">
            <div class="page-container2">
                <h2 class="black more-fontsize">Услуги банка</h2>
                <div class="common-text">
                    Наш банк предоставляет вам помощь в некоторых делах, чтобы нашим бравлерам жилось лучше! Каждому будет выдана <span class="bold">банковская карта</span>. При покупке обращайтесь к банкиру<br>
                    Отмечу, для НЕ бравлеро цены повышаются в два раза
                </div>
            </div>
            <div class="villages-cards cards-bank">
                <div class="card">
                    <img src="../images/items/Locked_Chest.png" alt="">
                    <div class="card-name">
                        Хранение ценных вещей
                    </div>
                    <div class="cost">
                        5 ГК/нед
                    </div>
                </div>
                
                <div class="card">
                    <img src="../images/items/unnamed-(1).png" alt="">
                    <div class="card-name">
                        Личный эндер-сейф дома
                    </div>
                    <div class="cost">
                        8 ГК/нед
                    </div>
                </div>

                <div class="card">
                    <img src="../images/bank_card.png" alt="">
                    <div class="card-name">
                        Потеря банковской карты
                    </div>
                    <div class="cost">
                        20 ГК
                    </div>
                </div>

                
            </div>

        </section>

        <section id="nalog" class="nalog">
            <div class="page-container2">
                <h2 class="black more-fontsize">Налоги</h2>
                <div class="common-text">
                    <span class="bold">Каждый гражданин</span> должен платить часть сбережения в качестве налога на развития нашего города, а также это служит для поиска АФК игроков или снятие монополистов. Сами по себе налоги маленькие, поэтому не бойтесь их.<br>
                    Налоги оплачиваются <span class="bold">раз в неделю</span> в любой день, но отмечу, что нужно сообщать о выплате в спец. канале Discord'а.
                </div>

                <div class="takes-list">

                    <div class="item item-bank">
                        <div class="image">
                            <img src="../images/items/minecraft-1816996_640.png" alt="">
                        </div>
                        <div class="text">
                            Владение одной территорией
                        </div>
                        <div class="cost">
                            5 ГК
                        </div>
                    </div>
                    <div class="item item-bank">
                        <div class="image">
                            <img src="../images/items/verstak.png" alt="">
                        </div>
                        <div class="text">
                            Торговая площадка
                        </div>
                        <div class="cost">
                            10 ГК
                        </div>
                    </div>
                    <div class="item item-bank">
                        <div class="image">
                            <img src="../images/items/ad.png" alt="">
                        </div>
                        <div class="text">
                            Личный портал в ад
                        </div>
                        <div class="cost">
                            7 ГК
                        </div>
                    </div>
                    <div class="item item-bank">
                        <div class="image">
                            <img src="../images/items/Кузнечный_стол.png" alt="">
                        </div>
                        <div class="text">
                            Налог на кузнеца
                        </div>
                        <div class="cost">
                            20 ГК
                        </div>
                    </div>

                </div>
            </div>

        </section>
        
      <footer>
          <div class="footer-text">
              ЕДИНСТВО - город для всех
          </div>
      </footer>

      <script src="../js/jquery-3.5.1.min.js"></script>
      <script src="../js/script.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script> 
  </body>
</html>